<footer class="footer p-10 bg-base-200 text-base-content">
    <div>
        <img src="/static/logo.png" height="48" width="48" alt="logo"/>
       <p>Yuanfen Industries Ltd.<br>Providing reliable tech since 2016</p>
    </div>
    <div>
        <span class="footer-title">GWS</span>
        <a class="link link-hover" href="/docs/start/zh_cn">documentation</a>
        <a class="link link-hover" href="https://github.com/gotapi/gws/fork">fork at github</a>

    </div>
    <div>
        <span class="footer-title">Links</span>
        <a class="link link-hover" href="https://404.ms/">404.ms</a>
        <a class="link link-hover" href="https://ip4.dev/">ip4.dev</a>
    </div>
    <div>
        <span class="footer-title">contact us</span>
        <a class="link link-hover" href="https://twitter.com/162cm/">twitter</a>
    </div>
</footer>
