<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.19.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/static/highlight/styles/monokai-sublime.css"/>
  <link rel="stylesheet" href="/static/pico.css"/>
  <title>ws.404.ms </title>
  <style>
  h1,h2 {
    font-size: 1.7rem !important;
    padding-bottom: .8rem;
  }
  h3,h4 {
    font-size: 1.5rem !important;
  }
  h5 {
    font-size: 1.2rem !important;
  }
  p,pre{
    line-height: 1.7rem;
  }
  </style>
</head>
