<html lang="en" data-theme="halloween">
  {{template "header.html"}}
  <body>
  {{template "nav.html"}}


  <div class="hero min-h-screen bg-base-200 article bg-white">
    <div class="hero-content text-center">
      <div class="max-w-md ">
        <h1 class="text-5xl font-bold"> gws,简洁易用的websocket实现</h1>
        <p class="py-6">可通过http 接口推送数据（以URI作为频道标识），也可以通过接口拉取历史推送</p>
        <a href="../start/zh_cn" class="btn btn-primary text-gray-800">立刻开始</a>
      </div>
    </div>
  </div>



  {{template "footer.html"}}

  </body>
  </html>
